In [5]:
%run BankPreprocess.ipynb

/tmp/nix-shell.u1Ar0v/ipykernel_1166433/3447305422.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_df[col] = num_df[col].replace(-1, pd.NA)
/tmp/nix-shell.u1Ar0v/ipykernel_1166433/3447305422.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_df[col] = num_df[col].fillna(base_df[col].mean())

In [6]:
X_hot

,age,day,duration,campaign,days_since_last_contact,prev_contact_count,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,prev_outcome_success,prev_outcome_unknown,has_defaulted_no,has_defaulted_yes,housing_no,housing_yes,loan_no,loan_yes,outcome_no,outcome_yes
0,1.606965,-1.298476,0.011016,-0.569351,-0.388719,-0.251940,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
1,0.288529,-1.298476,-0.416127,-0.569351,-0.388719,-0.251940,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,-0.747384,-1.298476,-0.707361,-0.569351,-0.388719,-0.251940,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,0.571051,-1.298476,-0.645231,-0.569351,-0.388719,-0.251940,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,-0.747384,-1.298476,-0.233620,-0.569351,-0.388719,-0.251940,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,0.143418,2.791329,0.076230,-0.388719,-0.251940,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
45207,2.831227,0.143418,0.768224,-0.246560,-0.388719,-0.251940,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
45208,2.925401,0.143418,3.373797,0.721811,1.271286,1.050473,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
45209,1.512791,0.143418,0.970146,0.399020,-0.388719,-0.251940,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
45210,-0.370689,0.143418,0.399328,-0.246560,1.317461,4.523577,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0